@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="libraryTitle">
        <h1 id="title">Biblioteca Virtual</h1>
        <p class="lead">Organize e explore seu acervo literário com facilidade. Cadastre seus livros, adicione comentários, crie perfis de usuário e favorite suas leituras preferidas.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="bookCatalogTitle">
            <h2 id="bookCatalogTitle">Cadastre seus livros</h2>
            <p>
                Adicione seus livros à biblioteca e mantenha um registro organizado. Você pode inserir detalhes sobre cada obra e acompanhar suas leituras.
            </p>
            @Html.ActionLink("Saiba mais", "Index", "Livro", new { area = "" }, new { @class = "btn btn-outline-dark" })

        </section>
        <section class="col-md-4" aria-labelledby="userProfilesTitle">
            <h2 id="userProfilesTitle">Crie perfis de usuário</h2>
            <p>Crie perfis personalizados para gerenciar sua coleção de livros. Marque suas leituras, compartilhe impressões e interaja com outros usuários.</p>
            @Html.ActionLink("Saiba mais", "Index", "Usuario", new { area = "" }, new { @class = "btn btn-outline-dark" })
        </section>
        <section class="col-md-4" aria-labelledby="favoritesTitle">
            <h2 id="favoritesTitle">Favorite livros</h2>
            <p>Marque seus livros favoritos e tenha fácil acesso a eles sempre que desejar. Organize suas leituras e compartilhe suas recomendações.</p>
            @Html.ActionLink("Saiba mais", "Index", "Favorito", new { area = "" }, new { @class = "btn btn-outline-dark" })
        </section>
    </div>
</main>
